[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
isort = "*"
ruff = "*"
black = "*"
pytest = "*"
pytest-asyncio = "*"
mypy = "*"
uvicorn = {extras = ["standard"], version = "*"}
httpx = "*"
sqlmodel = "*"
pydantic-settings = "*"
redis = "*"
asyncpg = "*"
greenlet = "*"
alembic = "*"
prometheus-fastapi-instrumentator = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
